<h1 class="page-title" >{{title}}</h1>
<!-- Task list with drag-and-drop support -->
<ul
  class="task-list"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
<!-- Loop through tasks and render each one using TaskTileComponent -->
  
@for (task of sortedTasks; track task.id) {
  <li cdkDrag>
    <!-- Pass task data to task-tile component -->
    <!-- Listen to toggleChecked event and handle it in toggleChecked() method -->
    <app-task-tile
      [task]="task"
      (toggleChecked)="toggleChecked($event)"
      (openMenu)="showContextMenu($event)">
    </app-task-tile>
  </li>
}


<!-- Context Menu -->
@if (contextMenuVisible) {
  <div
    class="context-menu"
    [style.left.px]="menuX"
    [style.top.px]="menuY"
    (click)="hideContextMenu()"
  >
    <ul>
      @if (contextMenuTask) {
        <li (click)="deleteTask(contextMenuTask)">Delete</li>
      }
    </ul>
  </div>
}



<!-- fixed, centered footer that holds the add tile -->
<div class="footer-rail">
  <div class="add-tile" [class.typing]="addTypingClass">
    <input type="checkbox" />
    <input
      class="new-task-input"
      type="text"
      placeholder="Add a task"
      #taskInput
      (input)="addTypingClass = taskInput.value.trim().length > 0"
      (keydown.enter)="addTask(taskInput.value.trim()); taskInput.value=''; addTypingClass=false"
    />    
  </div>
</div>

